<nav class="navbar navbar-expand-sm sticky-top px-3">
  <a class="navbar-brand d-flex align-items-center gap-2" href="/">
    <span class="brand-box">CUFF</span>
    CU FUNCTION FINDER
  </a>
  <div class="collapse navbar-collapse" id="navMenu">
    <ul class="navbar-nav ms-auto align-items-center gap-1">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
      <li class="nav-item"><a class="nav-link" href="/map">Map</a></li>
      <li class="nav-item"><a class="nav-link" href="/notifications">Notifications</a></li>
      <li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
    </ul>
    <div class="d-flex gap-2 ms-3">
      <a href="/login" class="btn-nav-login">Log In</a>
      <a href="/register" class="btn-nav-signup">Sign Up</a>
    </div>
  </div>
  <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
    <span class="navbar-toggler-icon" style="filter:invert(1)"></span>
  </button>
</nav>